
.idea/workspace.xml
.idea/vcs.xml
.idea/ClojureProjectResolveSettings.xml
.idea/runConfigurations.xml
inteprete-scheme/.idea/ClojureProjectResolveSettings.xml
inteprete-scheme/.idea/compiler.xml
inteprete-scheme/.idea/libraries/Leiningen__clojure_complete_0_2_5.xml
inteprete-scheme/.idea/libraries/Leiningen__nrepl_0_6_0.xml
inteprete-scheme/.idea/libraries/Leiningen__org_clojure_clojure_1_10_3.xml
inteprete-scheme/.idea/libraries/Leiningen__org_clojure_core_specs_alpha_0_2_56.xml
inteprete-scheme/.idea/libraries/Leiningen__org_clojure_spec_alpha_0_2_194.xml
inteprete-scheme/.idea/misc.xml
inteprete-scheme/inteprete-scheme.iml
inteprete-scheme/.idea/vcs.xml
inteprete-scheme/.idea/runConfigurations.xml
inteprete-scheme/.idea/modules.xml
